<div class="container text-center">
  <div class="row">
    <div class="col">
      <input type="text" placeholder="Character" class="generateBtn" [(ngModel)]="userInput" (keyup.enter)="onKeyUp()"/>
    </div>
    <div class="col">
      <img class="clockStyle" src="assets/clock.png"/>
    </div>
    <div class="col">
      <button class="btn btn-primary generateBtn" type="submit" (click)="generate()">GENERATE 2D GRID</button>
    </div>
  </div>
</div>

<mat-grid-list cols="10" rows="1" rowHeight="20px" rowWidth="20px" class="gridStyle">
  <mat-grid-tile *ngFor="let tile of tiles" 
  [colspan]="tile.cols"
  [rowspan]="tile.rows"
  [style.background]="tile.color">
    {{tile.text}}
  </mat-grid-tile>
</mat-grid-list>

<div class="container text-center">
  <button class="btn btn-light border yourCodeBtn" disabled>YOUR CODE: <strong>{{code}}</strong></button>
</div>