<div class="container text-center">
  <div class="row">
    <div class="col">
      <button class="btn btn-danger mt-3 mb-2" routerLink = "/generator">GENERATOR</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-light border mb-5" disabled>YOUR CODE: <strong>{{code}}</strong></button>
    </div>
  </div>
</div>

<div class="container text-left">
    <div class="row">
        <div class="col">
            <input placeholder="Payment" [(ngModel)]="paymentInput"/>
        </div>
        <div class="col">
            <input placeholder="Ammount" [(ngModel)]="ammountInput"/>
        </div>
        <div class="col">
            <button (click)="buttonClicked()">+ADD</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <p>Payment List</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Code</th>
                    <th scope="col">Grid</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of rows">
                    <td>{{row.paymentInput}}</td>
                    <td>{{row.ammountInput}}</td>
                    <td>{{row.code}}</td>
                    <td>{{row.table.length}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>